/.metadata
**/.classpath
**/.project
**/target/
**/.settings/
/com.ibm.jbatch.container/src/main/resources/META-INF/services/*.properties
/com.ibm.jbatch.container/derby.log
/com.ibm.jbatch.container/RUNTIMEDB
RUNTIMEDB
