**/bin
**/outputBin
**/testArtifactsBin
**/testJunitsBin
**/bitBucketBin
target/
**/target/
**/**/target/
**/.settings
**/.classpath
**/.jazzignore
**/.project
**/dependency-reduced-pom.xml
**/*.swp
*.swp
header.txt
~/
test-output/
oldJUnits/
c:/
derby.log
RUNTIMEDB
JSR352.Tests.TCK/readme.txt
JSR352.Tests.TCK/jsr352-tck.properties
JSR352.Runtime/resources/jsr352-derby.ddl_DO_NOT_EDIT
JSR352.JobXML.Model/prereqs
JSR352.Tests.TCK/resources/jsr352-tck-database.ddl
